#tattooModal {
    #tattoo-canvas {
        min-height: 45vh;
        background: #dee2e6;
        image-rendering: pixelated;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
