#tattooModal {
    #tattoo-canvas {
        min-height: 45vh;
        background: #f5f6f8;
        image-rendering: pixelated;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

#faqModal {
    #ytvideo {
        aspect-ratio: 16/9;
        width: 100%;
    }
}
