doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        meta(name='author', content='InkStory - Turn your tattoos into audible memories!')
        meta(name='description', content='Welcome to InkStory, the mobile app that lets you upload sounds you want to memorize and brings them to life with your Sonic Ink! It\'s a new and exciting way to make your memories last forever.')
        meta(name="keywords", content="waveform tattoo generator, voice memos tattoos, soundwave tattoo, audible tattoo, tattoo app, augmented reality")

        title InkStory - Turn your tattoos into audible memories!

        meta(name="robots", content="index,follow")

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:creator", content="InkStory")
        meta(property="og:title", content="InkStory - Turn your tattoos into audible memories!")
        meta(property="og:description", content="Welcome to InkStory, the mobile app that lets you upload sounds you want to memorize and brings them to life with your Sonic Ink! It's a new and exciting way to make your memories last forever.")
        meta(property="og:url", content="https://inkstory.app")
        meta(property="og:type", content="website")
        meta(property="og:image", content="https://inkstory.app/assets/img/og_image.jpg")
        meta(property="og:site_name", content="InkStory")

        link(rel="alternate", hreflang="en", href="https://inkstory.app")
        link(rel="canonical", href="https://inkstory.app")

        link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon-16x16.png")
        link(rel="manifest", href="/assets/site.webmanifest")

        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        script#mcjs.
            !function (c, h, i, m, p) {
                m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
            }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/df6bd2a34e031f9db0bde6989/212c340f896918e5108dd9e2d.js");

        style.
            .squared {
                width: 100%; /* Set width to 100% to be responsive */
                height: 0; /* Start with zero height */
                padding-bottom: 100%; /* Create a square by setting padding-bottom to 100% */
                object-fit: cover; /* Ensures the image covers the entire area without distortion */
                border-radius: 50% !important; /* Ensures the image is a circle */
                overflow: hidden; /* Ensures the overflowing parts of the image are hidden */
                position: relative; /* Required for positioning the image correctly */
            }

            .squared img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

    body#page-top

        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T9DQJTN' height='0' width='0' style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='/') InkStory
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='/#features') Features
                        li.nav-item
                            a.nav-link.me-lg-3(href='/#download') Download
                        li.nav-item
                            a.nav-link.me-lg-3(href='/demo.html') Demo
                        li.nav-item
                            span.nav-link.me-lg-3(data-bs-toggle='modal', data-bs-target='#faqModal', style='cursor: pointer') FAQ
                    button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#tattooModal')
                        span.d-flex.align-items-center
                            i.bi-soundwave.me-2
                            span.small Get Inspired

        aside.text-center.bg-gradient-primary-to-secondary.mt-5
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8
                        .h2.fs-1.text-white.
                            Explore Demo Tattoos & Sound Experiences!
                            Just point the camera of your InkStory app at any of the tattoos on this screen to experience the true magic.
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-sm-8.col-md-6
                        .px-5.px-sm-0.squared
                            img.img-fluid.rounded-circle(src='https://i.pinimg.com/564x/b6/e9/74/b6e974f9ece39785d714a37a66292a8c.jpg', alt='...')
                    .col-12.col-lg-5
                        p.lead.fw-normal.text-muted.mt-5.
                            A tattoo of a mother cradling her baby symbolizes deep love, protection, and the strong
                            bond between them. It’s a beautiful reminder of the special moments and the unique, cherished
                            relationship we all share with our moms.

        aside.text-center.bg-gradient-primary-to-secondary
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        p.lead.fw-normal.text-muted.mb-5.
                            A couple's tattoo symbolizes deep connection and mutual support. It represents their
                            intertwined lives, enduring love, and the harmony they create together, embodying a sense
                            of unity and a shared journey.
                    .col-sm-8.col-md-6
                        .px-5.px-sm-0.squared
                            img.img-fluid.rounded-circle(src='https://i.pinimg.com/564x/fa/7f/36/fa7f36d1c2bec3bcdee36d7f2c38a742.jpg', alt='...')
        aside.text-center.bg-gradient-primary-to-secondary
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-sm-8.col-md-6
                        .px-5.px-sm-0.squared
                            img.img-fluid.rounded-circle(src='https://i.pinimg.com/736x/f2/61/1e/f2611e71c5daf8db1fe3fe91882cb571.jpg', alt='...')
                    .col-12.col-lg-5
                        p.lead.fw-normal.text-muted.mt-5
                            | Father...
                            a(href="https://www.instagram.com/milano_tattooart", target="_blank") by Milad Adati

        aside.text-center.bg-gradient-primary-to-secondary
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        p.lead.fw-normal.text-muted.mb-5
                            | Amazing Soundwave Tattoo Design
                            a(href="http://manstil.com/30-soundwave-tattoo-designs-fur-manner-acoustic-ink-ideen/", target="_blank") by ManStil

                    .col-sm-8.col-md-6
                        .px-5.px-sm-0.squared
                            img.img-fluid.rounded-circle(src='https://i.pinimg.com/564x/4d/54/5a/4d545a19d8250fe3cd169688b88755f1.jpg', alt='...')

        // App badge section
        section#download.bg-gradient-primary-to-secondary
            .container.px-5
                h2.text-center.text-white.font-alt.mb-4 Get the app now!
                .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
                    a.me-lg-3.mb-4.mb-lg-0(href='#')
                        img.app-badge(src='/assets/img/google-play-badge.svg', alt='InkStory Google Play')
                    a(href='#!')
                        img.app-badge(src='/assets/img/app-store-badge.svg', alt='InkStory App Store')

        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; InkStory 2024. All Rights Reserved.
                    a(href='/privacy.html') Privacy
                    span.mx-1 &middot;
                    a(href='/terms.html') Terms
                    span.mx-1 &middot;
                    a(href='#!', data-bs-toggle='modal', data-bs-target='#faqModal') FAQ

        include includes/tattoo-modal.pug
        include includes/faq-modal.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Google Tag Manager
        script.
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-T9DQJTN');
        // End Google Tag Manager
